<div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

<div class="container main-zone" style="padding:1px" >
    <!--Panel général de la page-->
    <div class="panel panel-default" id="listes-zone" style="padding:10px">
        <!--Titre du panel général contenant les principaux boutons d'action-->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3>Liste des listes ({{ctrl.count_listes}} listes)</h3>
                </div>
                <div class="col-md-6">
                    <a
                        class="btn btn-primary pull-right"
                        ng-attr-href="#!/listes/edit/new"
                        ng-disabled="!ctrl.userRights.high"
                        style="margin-top: 12px">
                        Créer nouvelle liste
                    </a>
                </div>
            </div>
        </div>
        <!--Corps du panel général-->
        <div class="panel-body">
            <!--Tableau des taxons-->

            <div class="modal-body" ng-if="ctrl.showSpinner" >
                    <div style="margin: 0px auto; width: 256px;">
                        <img src="static/images/spinner.gif" id="il_fi" alt="Chargement..." height="256" width="256">
                    </div>
            </div>
            <table ng-table="ctrl.tableParams" ng-hide="ctrl.showSpinner" show-filter="true" class="table table-condensed table-bordered table-striped">
                <tbody>
                    <tr ng-repeat="lst in $data" class="{{lst.customClass}}" >

                        <div> <!-- Button -->
                            <td data-title="'Voir'" class="{{lst.customBtnClass}}">
                                <a  class="btn btn-success"
                                    href="#!/listes/{{lst.id_liste}}"
                                    title="Détail de la liste {{ lst.nom_liste }}"
                                    data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>

                            <td data-title="'Export'" class="{{lst.customBtnClass}}">
                                <a
                                    class="btn btn-success"
                                    ng-attr-href="api/biblistes/exportcsv/{{ lst.id_liste }}"
                                    title="Exporter les noms de la liste {{ lst.nom_liste }} au format csv"
                                    data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-cloud-download"></span>
                                </a>
                            </td>

                            <td data-title="'Editer'" class="{{lst.customBtnClass}}">
                                <a  ng-if="ctrl.userRights.high"
                                    class="btn btn-success"
                                    ng-attr-href="#!/listes/edit/edit/{{lst.id_liste}}"
                                    title="Editer la liste {{ lst.nom_liste }}"
                                    data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>

                                <button ng-if="!ctrl.userRights.high"
                                  class="btn btn-success"
                                  ng-disabled="!ctrl.userRights.high">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>

                            <td data-title="'Peupler'" class="{{lst.customBtnClass}}">
                                <a
                                    class="btn btn-success"
                                    ng-if="ctrl.userRights.high"
                                    ng-attr-href="#!/listes/add/{{ lst.id_liste }}"
                                    title="Peupler la liste {{ lst.nom_liste }}"
                                    data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-list"></span>
                                </a>
                                <button ng-if="!ctrl.userRights.high"
                                  class="btn btn-success"
                                  ng-disabled="!ctrl.userRights.high">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                            </td>
                        <div> <!-- END Button -->

                        <td data-title="'Nom de la liste'" sortable="'nom_liste'" filter="{ 'nom_liste': 'text' }"
                          ng-if="ctrl.tableCols['nom_liste'].show">
                          <img ng-src="./static/{{lst.picto}}" class="img-circle" width="25" height="25" ng-if="lst.picto"> {{ lst.nom_liste }}
                        </td>
                        <td data-title="'code'" sortable="'code_liste'" filter="{ 'code_liste': 'text' }" ng-if="ctrl.tableCols['code_liste'].show">{{ lst.code_liste }}
                        </td>
                        <td data-title="'règne'" sortable="'regne'" filter="{ 'regne': 'text' }" ng-if="ctrl.tableCols['regne'].show">{{ lst.regne }}
                        </td>
                        <td data-title="'Group2 INPN'" sortable="'group2_inpn'" filter="{ 'group2_inpn': 'text' }" ng-if="ctrl.tableCols['group2_inpn'].show">{{ lst.group2_inpn }}
                        </td>
                        <td data-title="'Nombre de noms'" sortable="'nb_taxons'" ng-if="ctrl.tableCols['nb_taxons'].show">{{ lst.nb_taxons }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
