 <!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//rawgithub.com/mgcrea/angular-motion/master/dist/angular-motion.min.css">
</head>

<body ng-app="taxonsApp" ng-controller="taxonsCtrl">
    <div class="jumbotron">
        <div class="container" >
            <h1>Gestion de la taxonomie</h1>
            <p>Formulaire de test pour ajouter un taxon.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="taxons.html" role="button">Les taxons</a>
                <a class="btn btn-primary btn-lg" href="listes.html" role="button">Les listes</a>
				<a class="btn btn-primary btn-lg" href="taxref.html" role="button">taxref</a>
                <a class="btn btn-default btn-lg" href="taxons-form.html" role="button">ajouter un taxon</a>
            </p>
        </div>
    </div>
	<div class="container">
		<div class="panel panel-default" id="list-zone">
            <div class="panel-heading">
                <h3 class="panel-title">Ajout d'un taxon</h3>
            </div>
            <div class="panel-body">
				<div class="alert alert-danger" role="alert" ng-repeat="error in errors">  
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erreur:</span>{{ error}}
                </div>
                <div class="alert alert-success" role="alert" ng-repeat="ok in oks">  
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <span class="sr-only">Attention:</span>{{ ok}}
                </div>
                <form id="tx-form" class="form-horizontal">
                    <div class="form-group form-group-sm">
                          <label class="col-sm-2 control-label" for="sm">Nom francais</label>
                          <div class="col-sm-10">
                                <input class="form-control" type="text" id="sm" ng-model="fFrName" placeholder="Nom francais">
                          </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Nom latin</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="sm" ng-model="fLatinName" placeholder="Nom latin">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Auteur</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="sm" ng-model="fAuteur" placeholder="Auteur">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">cd_nom</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="sm" ng-model="fCdnom" placeholder="cd_nom (taxref)">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Filtres</label>
                        <div class="col-sm-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="fFiltre0">Patrimonial
                            </label>
                        </div>
                        <label class="col-md-2 control-label" for="cbLR">Liste rouge</label>
                            <div class="col-md-10">
                                <select
                                    class="form-control" ng-model="fFiltre1" ng-options="lr.lrCode for lr in listeRouge">
                                </select>
                            </div>
                    </div>        
                </form>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" ng-disabled="error || incomplete" ng-click='save();'>
                    <span class="glyphicon glyphicon-save"></span> Enregistrer
                </button>
            </div>
        </div>    
	</div>
	
   <script src="js/taxonsApp.js"></script> 
   <script src="js/taxonsFormControler.js"></script> 
</body>
</html>