<div ng-repeat="attrdef in attributsDefList" class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="sm" id="lbl-{{attrdef.id_attribut}}">{{attrdef.label_attribut}}</label>
    <div class="col-sm-10">
        <ng-switch on="attrdef.type_widget">
            <span ng-switch-when="radio">
              <label ng-repeat="radval in attrdef.listeValeurObj.values" class="radio-inline">
                <input type="radio"
                  name="value-{{attrdef.id_attribut}}"
                  ng-model="attributsValues[attrdef.id_attribut]"
                  ng-required="{{attrdef.obligatoire}} "
                  value="{{radval}}">
                  {{radval}}
              </label>
            </span>
            <span ng-switch-when="select">
                <select class="form-control"
                    ng-model="attributsValues[attrdef.id_attribut]"
                    ng-options="val for val in attrdef.listeValeurObj.values"
                    ng-required="{{attrdef.obligatoire}}">
                    <option value="">-- selectionnez {{attrdef.nom_attribut}} --</option>
                </select>
            </span>
            <span ng-switch-when="text">
              <input class="form-control" type="text"
                id="value-{{attrdef.id_attribut}}" ng-model="attributsValues[attrdef.id_attribut]"
                ng-required="{{attrdef.obligatoire}}"/>
            </span>
            <span ng-switch-when="textarea">
              <textarea class="form-control" rows="3"
                id="value-{{attrdef.id_attribut}}" ng-model="attributsValues[attrdef.id_attribut]"
                ng-required="{{attrdef.obligatoire}}"> </textarea>
            </span>
            <span ng-switch-when="number">
              <input class="form-control" type="number"
                id="value-{{attrdef.id_attribut}}" name="value-{{attrdef.id_attribut}}"
                ng-model="attributsValues[attrdef.id_attribut]"
                min="{{attrdef.listeValeurObj.min}}" max="{{attrdef.listeValeurObj.max}}"
                ng-required="{{attrdef.obligatoire}}"/>
            </span>
            <create-bibtaxons-attr-form-phenologie-dir ng-switch-when="phenology" string-value="attributsValues[attrdef.id_attribut]"/>

            <span ng-switch-default>TYPE NOT FOUND {{attrdef.type_widget}}</span>

        </ng-switch>
    </div>
</div>
