
<uib-accordion close-others="false">
	<div uib-accordion-group
		ng-repeat="(key,value) in attributsDefList | orderBy : 'ordre'"
		class="panel panel-default form-group form-group-sm"
		is-open="status[key].open"
		ng-init="status[key].open = true"
        ng-if="(value.id_droit <= userrightlevel)"
	>
		<uib-accordion-heading>
			{{value.nom_theme}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status[key].open, 'glyphicon-chevron-right': !status[key].open}"></i>
		</uib-accordion-heading>
		<div ng-repeat="attrdef in value.attributs | orderBy : 'ordre'" class="panel-body ">
		<label class="col-sm-2 control-label" for="sm" id="lbl-{{attrdef.id_attribut}}">{{attrdef.label_attribut}}</label>

		<div class="col-sm-10">

			<div class="alert alert-warning" role="alert" ng-if="heritedAttributsValues[attrdef.id_attribut]">
				<strong>Valeur Héritée : </strong>{{heritedAttributsValues[attrdef.id_attribut]}}
			</div>
			<div >
				<ng-switch on="attrdef.type_widget">
					<span ng-switch-when="radio">
					<label ng-repeat="radval in attrdef.listeValeurObj.values" class="radio-inline">
						<input type="radio"
						name="value-{{attrdef.id_attribut}}"
						ng-model="attributsValues[attrdef.id_attribut]"
						ng-required="{{attrdef.obligatoire}} "
						value="{{radval}}">
						{{radval}}
					</label>
					</span>

					<span ng-switch-when="checkbox">
						<input-checkbox-dir
							attr-def-list="attrdef.listeValeurObj.values"
							value = "attributsValues[attrdef.id_attribut]"
						/>
					</span>

					<span ng-switch-when="select">
						<select class="form-control"
							ng-model="attributsValues[attrdef.id_attribut]"
							ng-options="value as value for (key, value) in attrdef.listeValeurObj.values | orderBy: 'toString()'"
							ng-required="{{attrdef.obligatoire}}">
							<option value="">-- selectionnez {{attrdef.nom_attribut}} --</option>
						</select>
					</span>

					<span ng-switch-when="multiselect">
						<input-multiselect-dir
							attr-def-list="attrdef.listeValeurObj.values"
							value = "attributsValues[attrdef.id_attribut]"
						/>
					</span>

					<span ng-switch-when="text">
					<input class="form-control" type="text"
						id="value-{{attrdef.id_attribut}}" ng-model="attributsValues[attrdef.id_attribut]"
						ng-required="{{attrdef.obligatoire}}"/>
					</span>

					<span ng-switch-when="textarea">
					<textarea class="form-control" rows="3"
						id="value-{{attrdef.id_attribut}}" ng-model="attributsValues[attrdef.id_attribut]"
						ng-required="{{attrdef.obligatoire}}"> </textarea>
					</span>

					<span ng-switch-when="number">
					<input class="form-control" type="number"
						id="value-{{attrdef.id_attribut}}" name="value-{{attrdef.id_attribut}}"
						ng-model="attributsValues[attrdef.id_attribut]"
						min="{{attrdef.listeValeurObj.min}}" max="{{attrdef.listeValeurObj.max}}"
						ng-required="{{attrdef.obligatoire}}"/>
					</span>

					<span ng-switch-when="phenology">
					<input-phenology string-value="attributsValues[attrdef.id_attribut]"></input-phenology>
					</span>
					<span ng-switch-default>TYPE NOT FOUND {{attrdef.type_widget}}</span>

				</ng-switch>
			</div>
		</div>

	</div>
</uib-accordion>
