
<table class="table table-striped">
  <tr ng-repeat="(key, medium) in mediasValues">
    <th class="col-md-8" ng-click="updateMedium(medium)">{{medium.titre}}</th>
    <td class="col-md-2" >
        <span>
            <button ng-click="updateMedium(medium)" tooltip="Modifier ce medium" class="btn btn-success" >
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button ng-click="deleteMedium(medium.id_media)" tooltip="Supprimer ce medium" class="btn btn-danger" >
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </span>
    </td>
  </tr>
</table>

<div
    id="add-medium"
    class="glyphicon glyphicon-plus btn btn-success" 
    ng-click="addMedium()" 
    aria-hidden="true"
> 
    Ajouter un medium
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {{formPanelHeading}}
    </div>
    <div class="panel-body">
        <div class="form-group form-group-sm">   
            <label class="col-sm-2 control-label" for="sm" id="lbl-selectType">Type de media </label>
            <div class="col-sm-10">
                <select class="form-control"
                    id="selectType"
                    ng-model="selectedMedium['id_type']"
                    ng-options="type.id_type as type.nom_type_media for type in mediasTypes"
                    value="{{type.id_type}}">
                    <option value="">-- selectionnez un type de média --</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="sm" id="lbl-inputTitre">Titre </label>
            <div class="col-sm-10">
                <input class="form-control" id="inputTitre" type="text"  ng-model="selectedMedium['titre']"/>
            </div>
        </div>
        
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="sm" id="lbl-inputAuteur">Auteur </label>
            <div class="col-sm-10">    
                <input class="form-control" id="inputAuteur" type="text"  ng-model="selectedMedium['auteur']"/>
            </div>
        </div>
        
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="sm" id="lbl-inputDesc">Description </label>
            <div class="col-sm-10">    
                <textarea class="form-control" id="inputDesc" rows="3" type="textarea"  ng-model="selectedMedium['desc_media']"></textarea>
            </div>
        </div>
        
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="sm" id="lbl-IsPublic">Media public </label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input class="form-control" name="radioIsPublic" type="radio"  value="true" ng-model="selectedMedium['is_public']" checked="checked">Oui
                </label>
                <label class="radio-inline">
                    <input class="form-control" name="radioIsPublic" type="radio"  value="false" ng-model="selectedMedium['is_public']">Non
                </label>
            </div>
        </div>
        
        <div
            id="save-medium"
            ng-click="saveMedium()"
            class="glyphicon glyphicon-plus btn btn-success pull-right" aria-hidden="true"
        > 
            Enregistrer ce medium
        </div>
    </div>
    
</div>
