<div class="panel panel-body">
  <div class="col-md-12">
    <div class="col-md-4" tooltip="Filtrer par règne">
      <input type="text"
        placeholder="Règne" ng-model="taxHierarchieSelectedKD"
        typeahead-editable="false"
        uib-typeahead="tax as ( tax.regne  + ' ' +  tax.nb_tx_kd ) for tax in getTaxonHierarchie('KD', $viewValue, taxHierarchieSelected)"
                    typeahead-on-select="onSelect($item, $model, $label)"
        class="form-control"/>
    </div>
    <div class="col-md-4" tooltip="Filtrer par phylum. Attention, la plupart des plantes n'ont pas de phylum">
      <input type="text"
          placeholder="Phylum" ng-model="taxHierarchieSelectedPH"
          typeahead-editable="false"
          uib-typeahead="tax as ( tax.phylum  + ' ' +  tax.nb_tx_ph ) for tax in getTaxonHierarchie('PH', $viewValue, taxHierarchieSelected)"
          typeahead-on-select="onSelect($item, $model, $label)"
          class="form-control">
    </div>
    <div class="col-md-4" tooltip="Filtrer par classe">
      <input type="text"
        placeholder="Classe" ng-model="taxHierarchieSelectedCL"
          typeahead-editable="false"
          uib-typeahead="tax as ( tax.classe  + ' ' +  tax.nb_tx_cl ) for tax in getTaxonHierarchie('CL', $viewValue, taxHierarchieSelected)"
                      typeahead-on-select="onSelect($item, $model, $label)"
          class="form-control">
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4" tooltip="Filtrer par ordre">
      <input type="text"
        placeholder="Ordre" ng-model="taxHierarchieSelectedOR"
          typeahead-editable="false"
          uib-typeahead="tax as ( tax.ordre  + ' ' +  tax.nb_tx_or ) for tax in getTaxonHierarchie('OR', $viewValue, taxHierarchieSelected)"
                      typeahead-on-select="onSelect($item, $model, $label)"
          class="form-control">
    </div>
    <div class="col-md-4" tooltip="Filtrer par famille">
      <input type="text"
          placeholder="Famille" ng-model="taxHierarchieSelectedFM"
            typeahead-editable="false"
            uib-typeahead="tax as (tax.famille + ' ' + tax.nb_tx_fm ) for tax in getTaxonHierarchie('FM', $viewValue, taxHierarchieSelected)"
            typeahead-on-select="onSelect($item, $model, $label)"
            class="form-control"/>
    </div>
    <div class="col-md-4">
        <label class="col-md-2 control-label" for="tbLimit"
          title="Nombre maximum de résultats renvoyés">Limite</label>
        <div class="col-md-6">
          <input type="text" id="tbLimit" class="form-control"
            ng-model="taxHierarchieSelected.limit" placeholder="limiter les résultats">
        </div>
    </div>
  </div>
</div>
