[submodule "dependencies/UsersHub-authentification-module"]
	path = dependencies/UsersHub-authentification-module
	url = https://github.com/PnX-SI/UsersHub-authentification-module
[submodule "dependencies/Utils-Flask-SQLAlchemy"]
	path = dependencies/Utils-Flask-SQLAlchemy
	url = https://github.com/PnX-SI/Utils-Flask-SQLAlchemy
[submodule "dependencies/RefGeo"]
	path = dependencies/RefGeo
	url = https://github.com/PnX-SI/RefGeo.git
[submodule "dependencies/Utils-Flask-SQLAlchemy-Geo"]
	path = dependencies/Utils-Flask-SQLAlchemy-Geo
	url = https://github.com/PnX-SI/Utils-Flask-SQLAlchemy-Geo
