
'''
TaxHub global settings file
'''

# Database settings
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/taxhubdb"
SQLALCHEMY_TRACK_MODIFICATIONS = False


DEBUG=True


SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True

# File
import os
BASE_DIR = os.path.abspath(os.path.dirname(__file__))
UPLOAD_FOLDER = 'static/medias'

# Authentification crypting method (hash or md5)
PASS_METHOD='hash'

# ID APPLICATION TaxHub
# User in the authentification submodule to avoid token conflict between app on the same server
ID_APP = 2
