# pytest flask is incompatible with flask 3
Flask < 4
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
marshmallow-sqlalchemy
gunicorn>=19.8.0
SQLAlchemy<2.0
psycopg2
python-dotenv
boto3
pillow
urllib3
click>=8.1.3
