# pytest flask is incompatible with flask 3
Flask < 4
Flask-Admin
Flask-Cors
Flask-SQLAlchemy<3.1
Flask-Migrate
Flask-Babel
marshmallow-sqlalchemy
gunicorn>=19.8.0
SQLAlchemy<2.0
psycopg2
python-dotenv
Pillow
urllib3
click>=8.1.3
toml
wtforms==3.1.2
backports.entry-points-selectable
