##########################################
###### TAXHUB installation settings ######
##########################################

app_name=taxhub

####################
### Python settings
####################

venv_dir=venv
python_path=/usr/bin/python3

########################
### PostgreSQL settings
########################

# Drop eventual existing database during installation
drop_apps_db=false

# DB host
db_host=localhost

# PostgreSQL port
db_port=5432

# Database name
db_name=taxhubdb

# Database owner username
user_pg=geonatuser

# Database owner password
user_pg_pass=monpassachanger

### Users schema localisation
# Possible values : 'local' or 'foreign'
# Nota : foreign requires UsersHub to be already installed
users_schema=local

### UsersHub relation settings - Required if users_schema=foreign
usershub_host=localhost
usershub_db=usershubdb
usershub_port=5432
usershub_user=usershubuser
usershub_pass=monpassachanger

#####################
### Gunicorn settings
#####################

gun_num_workers=4
gun_host=0.0.0.0
gun_port=5000
