"""
    FICHIER DE CONFIGURATION A ADAPTER A VOTRE BDD et aux CDREF que vous souhaitez enrichir de medias
"""
SQLALCHEMY_DATABASE_URI = "postgresql://gn_user:gn_user_pass@localhost:5432/geonaturedb"

QUERY_SELECT_CDREF = """SELECT cd_ref from taxonomie.bib_noms LIMIT 100"""

# QUERY_SELECT_CDREF = """SELECT DISTINCT cd_ref
#     FROM taxonomie.bib_noms
#     LEFT OUTER JOIN taxonomie.t_medias USING(cd_ref)
#     WHERE id_media IS NULL
#     LIMIT 100
# """

# QUERY_SELECT_CDREF = """SELECT cd_ref from atlas.vm_taxons_plus_observes LIMIT 100"""
