<div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

<div class="container-fluid main-zone" style="padding:1px" >
    <!--Panel général de la page-->
    <div class="panel panel-default" id="listes-zone" style="padding:10px">
        <!--Titre du panel général contenant les principaux boutons d'action-->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3> Ajouter les noms à la liste {{ctrl.listName.selectedList.nom_liste}} </h3>
                    <form   name="formSelectionList"
                            ng-hide="ctrl.showSpinnerSelectList" >
                        <label for="repeatSelect"><h3>Choisir une liste: </h3></label>
                        <select name="repSelect" 
                                id="repeatSelect"
                                ng-model="ctrl.listName.selectedList"
                                ng-change="ctrl.listSelected()"
                                ng-options="option.nom_liste for option in ctrl.listName.availableOptions"
                                ui-sortable
                                style="height:30px; margin-left: 8px;">
                        </select>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert" ng-if="ctrl.isSelected">
                        <p><b>Regne:</b> {{ctrl.listName.selectedList.regne}}</p>
                        <p><b>Group2_inpn:</b> {{ctrl.listName.selectedList.group2_inpn}}</p>
                        <p><b>Description:</b> {{ctrl.listName.selectedList.desc_liste}}</p> 
                    </div>
                </div>
                <div    class="modal-body" 
                        ng-if="ctrl.showSpinnerSelectList" >
                    <div style="margin: 0px auto; width: 256px;">
                        <img    src="static/images/spinner.gif" 
                                id="il_fi" 
                                alt="Chargement..." 
                                height="256" 
                                width="256">
                    </div>
                </div>
            </div>
        </div>
        <!--Corps du panel général-->
        <div class="panel-body" ng-if="ctrl.isSelected" >
            <div class="row">

                <div class="col-md-6"> <!--Panel liste des taxons -->
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Liste des noms disponibles ({{ctrl.tableParamsTaxons.total()}} noms)</h3>
                      </div>
                      <div class="panel-body">
                        <div  class="modal-body" 
                                ng-if="ctrl.showSpinnerTaxons" >
                            <div style="margin: 0px auto; width: 256px;">
                                <img    src="static/images/spinner.gif" 
                                        id="il_fi" 
                                        alt="Chargement..." 
                                        height="256" 
                                        width="256">
                            </div>
                        </div>
                        <table ng-table="ctrl.tableParamsTaxons" 
                                ng-hide="ctrl.showSpinnerTaxons" 
                                show-filter="true" 
                                class="table table-condensed table-bordered table-striped">
                            <tbody>
                                <tr ng-repeat="tx in $data" class="{{tx.customClass}}">
                                    <td data-title="'nom latin'" 
                                        sortable="'nom_complet'" 
                                        filter="{ 'nom_complet': 'text' }" 
                                        ng-if="ctrl.tableCols['nom_complet'].show">
                                        {{ tx.nom_complet}}
                                    </td>
                                    <td data-title="'nom français'" 
                                        sortable="'nom_francais'" 
                                        filter="{ 'nom_francais': 'text' }" 
                                        ng-if="ctrl.tableCols['nom_francais'].show">
                                        {{ tx.nom_francais }}
                                    </td>
                                    <td data-title="'cd nom'" 
                                        sortable="'cd_nom'" 
                                        filter="{ 'cd_nom': 'text' }" 
                                        ng-if="ctrl.tableCols['cd_nom'].show">
                                        {{ tx.cd_nom }}
                                    </td>
                                    <td data-title="'id nom'" 
                                        sortable="'id_nom'" 
                                        filter="{ 'id_nom': 'text' }" 
                                        ng-if="ctrl.tableCols['id_nom'].show">
                                        {{ tx.id_nom }}
                                    </td>
                                    <td data-title="'Ajouter'">
                                        <a  ng-if="ctrl.userRights.low" 
                                            class="btn btn-primary"
                                            ng-attr-href="#"
                                            title="Ajouter {{ tx.nom_francais }} à la liste {{ctrl.listName.selectedList.nom_liste}}" 
                                            data-toggle="tooltip">
                                            <span class="glyphicon glyphicon-plus-sign">
                                            </span>
                                        </a>
                                        <button ng-if="!ctrl.userRights.low"
                                                class="btn btn-primary"
                                                ng-disabled="!ctrl.userRights.low"
                                                title="Ajouter {{ tx.nom_francais }} à la liste {{ctrl.listName.selectedList.nom_liste}}" 
                                                data-toggle="tooltip">
                                                <span class="glyphicon glyphicon-plus-sign">
                                                </span> 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                </div><!-- END Panel liste des taxons -->

                <div class="col-md-6"><!--Panel ajouter taxon -->
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Noms dans la liste {{ctrl.listName.selectedList.nom_liste}} 
                        ({{ctrl.tableParamsDetailListe.total()}} noms)</h3>
                      </div>
                      <div class="panel-body">
                        <div  class="modal-body" 
                                ng-if="ctrl.showSpinnerListe" >
                            <div style="margin: 0px auto; width: 256px;">
                                <img    src="static/images/spinner.gif" 
                                        id="il_fi" 
                                        alt="Chargement..." 
                                        height="256" 
                                        width="256">
                            </div>
                        </div>
                        <table ng-table="ctrl.tableParamsDetailListe" 
                                ng-hide="ctrl.showSpinnerListe" 
                                show-filter="true" 
                                class="table table-condensed table-bordered table-striped">
                            <tbody>
                                <tr ng-repeat="tx in $data" class="{{tx.customClass}}">
                                    <td data-title="'Supprimer'">
                                        <a  ng-if="ctrl.userRights.low" 
                                            class="btn btn-danger"
                                            ng-attr-href="#"
                                            title="Supprimer {{ tx.nom_francais }}" 
                                            data-toggle="tooltip">
                                            <span class="glyphicon glyphicon-minus-sign">
                                            </span>
                                        </a>
                                        <button ng-if="!ctrl.userRights.low"
                                                class="btn btn-danger"
                                                ng-disabled="!ctrl.userRights.low"
                                                title="Supprimer {{ tx.nom_francais }}" 
                                                data-toggle="tooltip">
                                                <span class="glyphicon glyphicon-minus-sign">
                                                </span> 
                                        </button>
                                    </td>
                                        <td data-title="'nom latin'"
                                        sortable="'nom_complet'" 
                                        filter="{ 'nom_complet': 'text' }" 
                                        ng-if="ctrl.tableCols['nom_complet'].show">
                                        {{ tx.nom_complet }}
                                    </td>
                                    <td data-title="'nom français'" 
                                        sortable="'nom_francais'" 
                                        filter="{ 'nom_francais': 'text' }" 
                                        ng-if="ctrl.tableCols['nom_francais'].show">
                                        {{ tx.nom_francais }}
                                    </td>
                                    <td data-title="'cd nom'" 
                                        sortable="'cd_nom'" 
                                        filter="{ 'cd_nom': 'text' }" 
                                        ng-if="ctrl.tableCols['cd_nom'].show">
                                        {{ tx.cd_nom }}
                                    </td>
                                    <td data-title="'id nom'" 
                                        sortable="'id_nom'" 
                                        filter="{ 'id_nom': 'text' }" 
                                        ng-if="ctrl.tableCols['id_nom'].show">
                                        {{ tx.id_nom }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                      </div>
                    </div>
                </div><!-- END Panel ajouter taxon --> 
            
            </div>
        </div>
    </div>
</div>
