{% extends 'admin/model/edit.html' %}
{% import 'admin/lib.html' as lib with context %}


{% block body %}
  {% block navlinks %}
    {{ super() }}
  {% endblock %}

  <h1>Taxon Edit View</h1>

  {% block edit_form %}

  {% call lib.form_tag(action=action) %}
    <h3>Attributs</h3>
      {% for theme in theme_attributs_def %}
      <h4>{{theme}}</h4>
        {% for attr in theme.attributs %}
        <div class="form-group">
                <label class="col-md-2 control-label" for="attr.{{attr.id_attribut}}">{{ attr.label_attribut }}</label>
                <div class="col-md-10">
                {% if attr.type_widget == 'text' %}
                  <input class="form-control"  type="text" id="{{attr.nom_attribut}}" name="attr.{{attr.id_attribut}}"
                  value="{{attributes_val[attr.id_attribut]['taxon_attr_value']}}"/>
                {% elif attr.type_widget == 'textarea' %}
                  <textarea class="form-control"   id="{{attr.nom_attribut}}" name="attr.{{attr.id_attribut}}"
                  value=""
                  rows="3"
                  >{{attributes_val[attr.id_attribut]['taxon_attr_value']}}</textarea>
                {% elif attr.type_widget in ('select', 'multiselect') %}
                  <select class="form-control"  id="{{attr.nom_attribut}}" name="attr.{{attr.id_attribut}}"
                    {% if attr.type_widget == 'multiselect' %} multiple {% endif %}
                    >
                    <option value="">--</option>
                    {% for v in attributes_val[attr.id_attribut]['values'] %}
                      {% if
                        attributes_val[attr.id_attribut]['taxon_attr_value'] == v
                        or
                        v in attributes_val[attr.id_attribut]['taxon_attr_value']
                      %}
                        <option value="{{v}}" selected>{{v}}</option>
                      {% else %}
                        <option value="{{v}}">{{v}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                {% elif attr.type_widget == 'radio' %}
                  {% for v in attributes_val[attr.id_attribut]['values'] %}
                  <div class="form-check">
                    <input  class="form-check-input" type="radio" id="{{attr.nom_attribut}}" name="attr.{{attr.id_attribut}}"
                      value="{{v}}"
                      {% if attributes_val[attr.id_attribut]['taxon_attr_value'] == v %} checked {% endif %}
                    >
                    <label  class="form-check-label" for="attr.{{attr.id_attribut}}">
                      {{v}}
                    </label>
                  </div>
                  {% endfor %}
                {% else %}
                NOT IMPLEMENTED {{ attr.type_widget }}
                {% endif %}

              </div>
            </div>
        {% endfor %}
    {% endfor %}
    {{ lib.render_form_fields(form, form_opts=form_opts) }}
    {{ lib.render_form_buttons(cancel_url, extra, is_modal) }}
  {% endcall %}
  {% endblock %}

{% endblock %}
