<div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

<div class="container main-zone" style="padding:1px" >
    <!--Panel général de la page-->
    <div class="panel panel-default" id="listes-zone" style="padding:10px">
        <!--Titre du panel général contenant les principaux boutons d'action-->
        <div class="panel-heading">
            <h3><img ng-src="./static/{{ctrl.edit_detailliste.picto}}" class="img-circle" width="25" height="25"> Edition de la liste</h3>
        </div> <!--END Titre du panel général-->

        <!--Corps du panel général-->
        <div class="panel-body">
            <div class="modal-body" ng-if="ctrl.showSpinner" >
                <div style="margin: 0px auto; width: 256px;">
                    <img src="static/images/spinner.gif" id="il_fi" alt="Chargement..." height="256" width="256">
                </div>
            </div>

            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputId" class="col-sm-2 control-label">ID liste</label>
                        <div class="col-sm-7">
                            <input type="number" min="1" class="form-control" ng-model="ctrl.formCreate.id_liste" id="id_liste" placeholder="Id de la nouvelle liste" required ng-disabled="!ctrl.userRights.high">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNom" class="col-sm-2 control-label">Nom de la liste</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="ctrl.formCreate.nom_liste" id="inputNom" placeholder="Nom de la nouvelle liste" required ng-disabled="!ctrl.userRights.high">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputDes">Description de la liste</label>
                        <div  class="col-sm-7">
                            <textarea rows="3" type="text" class="form-control" ng-model="ctrl.formCreate.des_liste" id="inputDes1" placeholder="Description de la nouvelle liste" ng-disabled="!ctrl.userRights.high"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="Règne">Règne</label>
                        <div class="col-sm-7">
                             <select class="form-control" ng-model="ctrl.formCreate.regne" ng-disabled="!ctrl.userRights.high"> 
                                      <option ng-repeat="option in ctrl.edit_regne" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                        <div class="col-xs-0">
                            <span class="glyphicon glyphicon-question-sign btn-icon" title="Permet de proposer cette liste pour les taxons d'un règne seulement" data-toggle="tooltip">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Groupe 2 INPN</label>
                        <div class="col-sm-7">
                             <select class="form-control" ng-model="ctrl.formCreate.group2_inpn" ng-disabled="!ctrl.userRights.high"> 
                                      <option ng-repeat="option in ctrl.edit_group2_inpn" value="{{option}}">{{option}}</option>
                            </select>                      
                        </div>
                        <div class="col-xs-0">
                            <span class="glyphicon glyphicon-question-sign btn-icon" data-toggle="tooltip" data-placement="right" title="Permet de proposer cette liste seulement pour les taxons d'un group2 INPN">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Lien picto</label>
                        <div class="col-sm-7">
                             <select class="form-control" ng-model="ctrl.formCreate.picto" ng-disabled="!ctrl.userRights.high"> 
                                      <option ng-repeat="option in ctrl.pictos_propose" value="images/pictos/{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-disabled="!ctrl.userRights.high">Creér la liste</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--END Corps du panel général-->

    </div>
</div>
