<!--Zone bandeau titre avec els menu de l'application-->
<div class="jumbotron">
    <div class="container">
        <h1>Taxref</h1>
        <p>Cette page permet d'inspecter le taxref et de l'utiliser pour peupler la table taxonomie.bib_taxons</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#/taxons" role="button">Les taxons</a>
            <a class="btn btn-primary btn-lg" href="#/listes" role="button">Les listes</a>
            <a class="btn btn-lg" ng-class="btn-default" href="#/taxref" role="button">Le taxref</a>
            <a class="btn btn-primary btn-lg" href="#/addtaxon" role="button">Ajouter un taxon</a>
        </p>
    </div>
</div>
