<div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

<div class="container-fluid main-zone" style="padding:1px" >
    <!--Panel général de la page-->
    <div class="panel panel-default" id="listes-zone" style="padding:10px">
        <!--Titre du panel général contenant les principaux boutons d'action-->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h3> Gérer les noms de la liste {{ctrl.infoListe.nom_liste}} </h3>
                    <div class="alert alert-info" role="alert">
                        <p><b>Regne:</b> {{ctrl.infoListe.regne}}</p>
                        <p><b>Group2_inpn:</b> {{ctrl.infoListe.group2_inpn}}</p>
                        <p><b>Description:</b> {{ctrl.infoListe.desc_liste}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Corps du panel général-->
        <div class="panel-body" ng-if="ctrl.infoListe" >
            <div class="row">

                <div class="col-md-6"> <!--Panel liste des taxons -->
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Liste des noms disponibles ({{ctrl.tableParamsTaxons.total()}} noms)</h3>
                      </div>
                      <div  class="panel-body"
                            style = "height: 680px;overflow-y: scroll;">
                        <div  class="modal-body"
                                ng-if="ctrl.showSpinnerTaxons">
                            <div style="margin: 0px auto; width: 256px;">
                                <img    src="static/images/spinner.gif"
                                        id="il_fi"
                                        alt="Chargement..."
                                        height="256"
                                        width="256">
                            </div>
                        </div>
                        <table ng-table="ctrl.tableParamsTaxons"
                                ng-hide="ctrl.showSpinnerTaxons"
                                show-filter="true"
                                class="table table-condensed table-bordered table-striped">
                            <tbody>{{$data|json}}
                                <tr
                                  ng-repeat="tx in $data track by tx.id_nom"
                                  class="{{tx.customClass}}"
                                  ng-class="{ 'warning ref': tx.cd_nom == tx.cd_ref}"
                                >
                                    <td data-title="'cd nom'"
                                        sortable="'cd_nom'"
                                        filter="{ 'cd_nom': 'text' }"
                                        ng-if="ctrl.tableCols['cd_nom'].show">
                                        {{ tx.cd_nom }}
                                    </td>
                                    <td data-title="'nom français'"
                                        sortable="'nom_francais'"
                                        filter="{ 'nom_francais': 'text' }"
                                        ng-if="ctrl.tableCols['nom_francais'].show">
                                        {{ tx.nom_francais }}
                                    </td>
                                    <td data-title="'nom latin'"
                                        sortable="'nom_complet'"
                                        filter="{ 'nom_complet': 'text' }"
                                        ng-if="ctrl.tableCols['nom_complet'].show">
                                        {{ tx.nom_complet}}
                                    </td>
                                    <td data-title="'rang'"
                                        sortable="'id_rang'"
                                        filter="{ 'id_rang': 'text' }"
                                        ng-if="ctrl.tableCols['id_rang'].show">
                                        {{ tx.id_rang}}
                                    </td>
                                    <td data-title="'Ajouter'">
                                        <a  ng-if="ctrl.userRights.high"
                                            class="btn btn-primary"
                                            ng-click="ctrl.addNom(tx)"
                                            title="Ajouter {{ tx.nom_complet }} à la liste {{ctrl.listName.selectedList.nom_liste}}"
                                            data-toggle="tooltip">
                                            <span class="glyphicon glyphicon-plus-sign">
                                            </span>
                                        </a>
                                        <button ng-if="!ctrl.userRights.high"
                                                class="btn btn-primary"
                                                ng-disabled="!ctrl.userRights.high"
                                                title="Ajouter {{ tx.nom_complet }} à la liste {{ctrl.listName.selectedList.nom_liste}}"
                                                data-toggle="tooltip">
                                                <span class="glyphicon glyphicon-plus-sign">
                                                </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                </div><!-- END Panel liste des taxons -->

                <div class="col-md-6"><!--Panel ajouter taxon -->
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Noms dans la liste {{ctrl.listName.selectedList.nom_liste}}
                        ({{ctrl.tableParamsDetailListe.total()}} noms)</h3>
                      </div>
                      <div  class="panel-body"
                            style = "height: 680px;overflow-y: scroll;">
                        <div    class="modal-body"
                                ng-if="ctrl.showSpinnerListe">
                            <div style="margin: 0px auto; width: 256px;">
                                <img    src="static/images/spinner.gif"
                                        id="il_fi"
                                        alt="Chargement..."
                                        height="256"
                                        width="256">
                            </div>
                        </div>
                        <table ng-table="ctrl.tableParamsDetailListe"
                                ng-hide="ctrl.showSpinnerListe"
                                show-filter="true"
                                class="table table-condensed table-bordered table-striped">
                            <tbody>
                                <tr
                                  ng-repeat="tx in $data track by tx.id_nom"
                                  class="{{tx.customClass}}"
                                  ng-class="{ 'warning ref': tx.cd_nom == tx.cd_ref}"
                                >
                                    <td data-title="'Retirer'">
                                        <a  ng-if="ctrl.userRights.high"
                                            class="btn btn-danger"
                                            ng-click="ctrl.delNom(tx)"
                                            title="Retirer {{ tx.nom_complet }} de la liste {{ctrl.listName.selectedList.nom_liste}}"
                                            data-toggle="tooltip">
                                            <span class="glyphicon glyphicon-minus-sign">
                                            </span>
                                        </a>
                                        <button ng-if="!ctrl.userRights.high"
                                                class="btn btn-danger"
                                                ng-disabled="!ctrl.userRights.high"
                                                title="Retirer {{ tx.nom_complet }} de la liste {{ctrl.listName.selectedList.nom_liste}}"
                                                data-toggle="tooltip">
                                                <span class="glyphicon glyphicon-minus-sign">
                                                </span>
                                        </button>
                                    </td>
                                        <td data-title="'nom latin'"
                                        sortable="'nom_complet'"
                                        filter="{ 'nom_complet': 'text' }"
                                        ng-if="ctrl.tableCols['nom_complet'].show">
                                        {{ tx.nom_complet }}
                                    </td>
                                    <td data-title="'nom français'"
                                        sortable="'nom_francais'"
                                        filter="{ 'nom_francais': 'text' }"
                                        ng-if="ctrl.tableCols['nom_francais'].show">
                                        {{ tx.nom_francais }}
                                    </td>
                                    <td data-title="'cd nom'"
                                        sortable="'cd_nom'"
                                        filter="{ 'cd_nom': 'text' }"
                                        ng-if="ctrl.tableCols['cd_nom'].show">
                                        {{ tx.cd_nom }}
                                    </td>
                                    <td data-title="'Rang'"
                                        sortable="'id_rang'"
                                        filter="{ 'id_rang': 'text' }"
                                        ng-if="ctrl.tableCols['id_rang'].show">
                                        {{ tx.id_rang }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                      </div>
                    </div>
                </div><!-- END Panel ajouter taxon -->
            </div>
            <div style="text-align:center;"> <!-- Button valider - annuler -->

                <a  
                    class="btn btn-warning btn-lg"
                    ng-click="ctrl.cancel()"
                    ng-disabled="!ctrl.userRights.high"
                    style="margin-top: -20px;">
                    Annuler
                </a>

                <a  
                    class="btn btn-primary btn-lg"
                    ng-click="ctrl.submit()"
                    ng-disabled="!ctrl.userRights.high"
                    style="margin-top: -20px;">
                    Enregistrer les modifications
                </a>
            </div>
        </div>
    </div>
</div>
