
    <div class="jumbotron">
        <div class="container" >
            <h1>Gestion de la taxonomie</h1>
            <p>Cette application permet de gérer le schéma taxonomie.</p>
            <p>
                <a class="btn btn-default btn-lg" href="#/taxons" role="button">Les taxons</a>
                <a class="btn btn-primary btn-lg" href="#/listes" role="button">Les listes</a>
				<a class="btn btn-primary btn-lg" href="#/taxref" role="button">Le taxref</a>
				<a class="btn btn-default btn-lg" href="#/addtaxon" role="button">ajouter un taxon</a>
            </p>
        </div>
    </div>
	
	<div class="container">
		<div class="panel panel-default" id="list-zone">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des taxons</h3>
            </div>
			
			
			
			
            <div class="panel-body">
				<form id="tx-form" class="form-horizontal">
                    <div class="form-group row">
                            <label class="col-md-1 control-label" for="cbRegne">Règne</label>
                            <div class="col-md-3">
                                <select
                                    class="form-control"
                                    ng-model="selectedRegne"
                                    ng-options="kd.lb_nom for kd in regne">
                                </select>
                            </div>
                            <label class="col-md-1 control-label" for="cbPhylum">Phylum</label>
                            <div class="col-md-3">
                                <select
                                    class="form-control"
                                    ng-model="selectedPhylum"
                                    ng-options="ph.lb_nom for ph in phylum">
                                </select>
								<!--ng-options="ph.lb_nom for ph in phylum | filter:{cd_taxsup: selectedRegne.cd_nom}">-->
                            </div>
                            <label class="col-md-1 control-label" for="cbClasse">Classe</label>
                            <div class="col-md-3">    
                                <select
                                    class="form-control"
                                    ng-model="selectedClasse"
                                    ng-options="cl.lb_nom for cl in classe | filter:{cd_taxsup: selectedPhylum.cd_nom}">
                                </select>
								<!--ng-options="cl.lb_nom for cl in classe | filter:{cd_taxsup: selectedPhylum.cd_nom}">-->
                            </div>
                    </div>
                    <div class="form-group row">
                          <label class="col-md-1 control-label" for="cbOrdre">Ordre</label>
                            <div class="col-md-3">
                               <select
                                    class="form-control"
                                    ng-model="selectedOrdre"
                                    ng-options="or.lb_nom for or in ordre | filter:{cd_taxsup: selectedClasse.cd_nom}">
                                </select>
                            </div>
                            <label class="col-md-1 control-label" for="cbFamille">Famille</label>
                            <div class="col-md-3">
                               <select
                                    class="form-control"
                                    id="cbFamille"
                                    ng-model="selectedFamille"
                                    ng-options="fm.lb_nom for fm in famille | filter:{cd_taxsup: selectedOrdre.cd_nom}">
                                </select>
                            </div>
                    </div>
                </form>
                <div ng-init="showNomFr=true;showNomLatin=true;showAuteur=true;showIdTaxon=true;showCdnom=true;showGroupes=true;showListes=true;">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Recherche</span> 
                        <input type="text" class="form-control" aria-describedby="sizing-addon2" ng-model="nomfr" placeholder="Entrez votre recherche" >
                    </div>
                    <br/>
                    <div class="well">
                        <span >Affichage des colonnes</span>
                        <table class="table">
                                <tr >
                                    <td><input type="checkbox" ng-model="showNomFr"> nomFrancais</td>
                                    <td><input type="checkbox" ng-model="showNomLatin"> nomLatin</td>
                                    <td><input type="checkbox" ng-model="showAuteur"> auteur</td>
                                    <td><input type="checkbox" ng-model="showCdnom"> cdNom</td>
                                    <td><input type="checkbox" ng-model="showIdTaxon"> idTaxon</td>
                                <tr>
                        </table>
                    </div>
                    <table ng-table="tableParams" class="table table-striped">
                        <!--<thead>
                            <tr >
                                <th>Edit</th>
                                <th>Delete</th>
                                <th ng-show="showNomFr">nomFrancais</th>
                                <th ng-show="showNomLatin">nomLatin</th>
                                <th ng-show="showAuteur">auteur</th>
                                <th ng-show="showCdnom">cdNom</th>
                                <th ng-show="showIdTaxon">idTaxon</th>
                            </tr>
                        </thead>-->

                            <tr ng-repeat="tx in $data  | filter:nomfr">
                                <td data-title="'Voir'">
                                    <button class="btn" ng-click="viewTaxon(tx.idTaxon)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                                <td data-title="'Editer'">
                                    <button class="btn" ng-click="editTaxon(tx)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                                <td data-title="'Suppr'">
                                    <button class="btn" ng-click="deleteTaxon(tx.idTaxon)">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </td>
                                <td data-title="'nom français'" sortable="'nomFrancais'" ng-show="showNomFr">{{ tx.nomFrancais }}</td>
                                <td data-title="'nom latin'" sortable="'nomLatin'" ng-show="showNomLatin">{{ tx.nomLatin }}</td>
                                <td data-title="'auteur'" sortable="'auteur'" ng-show="showAuteur">{{ tx.auteur }}</td>
                                <td data-title="'cd_nom'" sortable="'cdNom'" ng-show="showCdnom">{{ tx.cdNom }}</td>
                                <td data-title="'id_taxon'" sortable="'idTaxon'" ng-show="showIdTaxon">{{ tx.idTaxon }}</td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" ng-click="addTaxon()">
                    <span class="glyphicon glyphicon-leaf"></span> Ajouter un taxon
                </button>
            </div>
            
            <div >
                <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>
        </div>
        
        <hr>
	</div>
