
    <div class="jumbotron">
        <div class="container" >
            <h1>Gestion de la taxonomie</h1>
            <p>Formulaire d'ajout d'un taxon.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#/taxons" role="button">Les taxons</a>
                <a class="btn btn-primary btn-lg" href="#/listes" role="button">Les listes</a>
				<a class="btn btn-primary btn-lg" href="#/taxref" role="button">Le taxref</a>
                <a class="btn btn-default btn-lg" href="#/addtaxon" role="button">Ajouter un taxon</a>
            </p>
        </div>
    </div>
	<div class="container">
		<div class="panel panel-default" id="edit-zone">
            <div class="panel-heading">
                <h3 class="panel-title">Ajout d'un taxon</h3>
            </div>
            <div class="panel-body">
				<div class="alert alert-danger" role="alert" ng-repeat="error in errors">  
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erreur:</span>{{ error}}
                </div>
                <div class="alert alert-success" role="alert" ng-repeat="ok in oks">  
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <span class="sr-only">Attention:</span>{{ ok}}
                </div>
                <form id="tx-form" class="form-horizontal">
                    <div class="form-group form-group-sm">
                          <label class="col-sm-2 control-label" for="sm">Nom francais</label>
                          <div class="col-sm-10">
                                <input class="form-control" type="text" id="sm" ng-model="fFrName" placeholder="Nom francais">
                          </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Nom latin</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="sm" ng-model="fLatinName" placeholder="Nom latin">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Auteur</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="sm" ng-model="fAuteur" placeholder="Auteur">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">cd_nom</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="sm" ng-model="fCdnom" placeholder="cd_nom (taxref)">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="sm">Filtres</label>
                        <div class="col-sm-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="fFiltre0">Patrimonial
                            </label>
                        </div>
                        <label class="col-md-2 control-label" for="cbLR">Liste rouge</label>
                            <div class="col-md-10">
                                <select
                                    class="form-control" ng-model="fFiltre1" ng-options="lr.lrCode for lr in listeRouge">
                                </select>
                            </div>
                    </div>        
                </form>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" ng-disabled="error || incomplete" ng-click='save();'>
                    <span class="glyphicon glyphicon-save"></span> Enregistrer
                </button>
            </div>
        </div>    
	</div>

