<style>
input.ng-invalid-required {
  background-color:red;
}

</style>
    <div class="jumbotron">
        <div class="container" >
            <h1>Gestion de la taxonomie</h1>
            <p>Formulaire d'ajout d'un taxon.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#/taxons" role="button">Les taxons</a>
                <a class="btn btn-primary btn-lg" href="#/listes" role="button">Les listes</a>
				            <a class="btn btn-primary btn-lg" href="#/taxref" role="button">Le taxref</a>
                <a class="btn btn-default btn-lg" href="#/addtaxon" role="button">Ajouter un taxon</a>
            </p>
        </div>
    </div>
	<div class="container">
    <form id="tx-form" class="form-horizontal" name="editBibtaxon">
        <div class="form-group form-group-sm">
              <label class="col-sm-2 control-label" for="sm">Nom francais</label>
              <div class="col-sm-10">
                    <input class="form-control" type="text" id="sm" ng-model="ctrl.bib_taxon.nomFrancais" placeholder="Nom francais">
              </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="sm">Nom latin</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="sm" ng-model="ctrl.bib_taxon.nomLatin" placeholder="Nom latin">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="sm">Auteur</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="sm" ng-model="ctrl.bib_taxon.auteur" placeholder="Auteur">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="sm">cd_nom</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="sm" ng-model="ctrl.bib_taxon.cdNom" placeholder="cd_nom (taxref)" required>
            </div>
            <div class="col-sm-4">
                <button ng-click="ctrl.refreshTaxrefData()">Rafraichir</button>
            </div>
        </div>

        <div class="">
          <div ng-repeat="attrdef in ctrl.attributsDefList" class="form-group form-group-sm">
              <label class="col-sm-2 control-label" for="sm" id="lbl-{{attrdef.idAttribut}}">{{attrdef.nomAttribut}}</label>
              <div class="col-sm-10">
                  <ng-switch on="attrdef.typeAttribut">
                      <span ng-switch-when="radio">
                        <label ng-repeat="radval in attrdef.listeValeurArray">
                          <input type="radio" ng-model="ctrl.attrVal[attrdef.idAttribut].value" value="{{radval}}">{{radval}}
                        </label>
                      </span>
                      <span ng-switch-when="text">
                        <input class="form-control" type="text" id="value-{{attrdef.idAttribut}}" ng-model="ctrl.attrVal[attrdef.idAttribut].value">
                      </span>
                  </ng-switch>
              </div>
          </div>

        </div>
        <input type="submit" value="Enregistrer" ng-disabled="editBibtaxon.$invalid"  ng-click="ctrl.submit()"/>
    </form>
    <pre>{{ctrl.bib_taxon | json }}</pre>
    <pre>{{ctrl.attrVal | json }}</pre>
    <pre>{{ctrl.attributsDefList | json }}</pre>
    <pre>{{ctrl.taxref | json }}</pre>
	</div>
