
'''
TaxHub global settings file
'''

# Log level
# To enable SQLAlchemy logging, uncomment the lines below.
#import logging
#logging.basicConfig()
#logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

# Database settings
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/taxhubdb"
SQLALCHEMY_TRACK_MODIFICATIONS = False
# Ce paramètre permet de configurer la connexion de SQLAlchemy avec la base de données
# Les paramètres de configuration de la connexion doivent correspondre à ceux utilisé dans la
# fonction `create_engine` de SQLAlchemy.
# See: https://docs.sqlalchemy.org/en/14/core/engines.html#sqlalchemy.create_engine
# Example :
#SQLALCHEMY_ENGINE_OPTIONS = {
#    "pool_recycle": 30,
#    "pool_size": 35,
#    "pool_timeout": 300,
#    "pool_pre_ping": True,
#    "pool_use_lifo": True,
#    "connect_args": {
#        "connect_timeout": 10,
#        "application_name": "TaxHub",
#        "keepalives": 1,
#        "keepalives_idle": 300,
#        "keepalives_interval": 10,
#        "keepalives_count": 5,
#    },
#}

APPLICATION_ROOT = '/taxhub'
# Set this to 'https' if you use encryption
PREFERRED_URL_SCHEME = 'http'


SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True

# File
UPLOAD_FOLDER = 'medias'

#S3
S3_BUCKET_NAME = ''
S3_KEY = ''
S3_SECRET = ''
S3_ENDPOINT = 'https://s3.gra.cloud.ovh.net/' #URL pour l'api S3 (ex : https://s3.gra.cloud.ovh.net/ )
S3_PUBLIC_URL = '' #URL publique qui permet au client d'accéder aux médias (stocker dans la BDD) (ex : media.mon_instance_geonature.fr)
S3_FOLDER = 'taxons/' # dossier ou sont stocker les media de cette applicarion (ex : taxons ou taxhub)
S3_REGION_NAME = '' #région (ex : gra )

# Authentification crypting method (hash or md5)
PASS_METHOD='hash'
