
'''
TaxHub global settings file
'''

# Log level
# To enable SQLAlchemy logging, uncomment the lines below.
#import logging
#logging.basicConfig()
#logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

# Database settings
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/taxhubdb"
SQLALCHEMY_TRACK_MODIFICATIONS = False

APPLICATION_ROOT = '/taxhub'
# Set this to 'https' if you use encryption
PREFERRED_URL_SCHEME = 'http'


SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True

# File
MEDIA_FOLDER = 'medias'

# Authentification crypting method (hash or md5)
PASS_METHOD='hash'

# Flask admin
FLASK_ADMIN_SWATCH = "cerulean"
FLASK_ADMIN_FLUID_LAYOUT  = True