
#############################################
# Taxhub backend global configuration file
#############################################

# Database
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:5432/mabase" 

# Remplacer par une clé alétoire complexe
SECRET_KEY = 'super secret key'
 
# Configuration liée à l'api de taxhub
[API]
    API_PREFIX = "/api"
