
#############################################
# Taxhub backend global configuration file
#############################################

# Database URL
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:5432/mabase" 

# Code de l'application TaxHub
CODE_APPLICATION="TH"

# Cron du renouvelement automatique du cookie d'authentification
COOKIE_AUTORENEW=true

# Expiration du cookie d'authentification
COOKIE_EXPIRATION ="3600 * 24 * 7"

# prefix du nom de domaine sur lequel est accessible TaxHub ("/" -> mondomaine.com/; "/taxhub" -> mondomaine.com/taxhub)
APPLICATION_ROOT="/"

# chemin relatif vers le dossier contenant les médias
MEDIA_FOLDER="media"

# Méthode de hash du mot de passe
PASS_METHOD

# thème de flask-admin
FLASK_ADMIN_SWATCH="cerulean"

# Utilisation de la classe `container-fluid` de bootstrap
FLASK_ADMIN_FLUID_LAYOUT=true

# Remplacer par une clé alétoire complexe
SECRET_KEY = 'super secret key'
 
# Configuration liée à l'api de taxhub
[API]
    API_PREFIX = "/api"
