
#############################################
# Taxhub backend global configuration file
#############################################

# Database URL
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:5432/mabase" 

# prefix du nom de domaine sur lequel est accessible TaxHub ("/" -> mondomaine.com/; "/taxhub" -> mondomaine.com/taxhub)
APPLICATION_ROOT="/"

# Remplacer par une clé alétoire complexe
SECRET_KEY = 'super secret key avec au moins 20 charactères'