
    <div class="jumbotron">
        <div class="container" >
            <h1>Gestion de la taxonomie</h1>
            <p>Cette application permet de gérer le schéma taxonomie.</p>
            <p>
                <a class="btn btn-default btn-lg" href="#/taxons" role="button">Les taxons</a>
                <a class="btn btn-primary btn-lg" href="#/listes" role="button">Les listes</a>
				        <a class="btn btn-primary btn-lg" href="#/taxref" role="button">Le taxref</a>
        				<a class="btn btn-primary btn-lg" href="#/addtaxon" role="button">Ajouter un taxon</a>
            </p>
        </div>
    </div>

	 <!--Contenu global de la page-->
    <div class="container" style="padding:1px" >
        <!--Panel général de la page-->
        <div class="panel panel-default" id="taxons-zone" style="padding:10px">
            <!--Titre du panel général contenant les principaux boutons d'action-->
            <div class="panel-heading">
                <div class="row">
                    Liste des taxons
                    <button class="btn btn-success btn-md col-md-3" href="" ng-click="ctrl.toggleSearchTaxon()">{{ctrl.labelSearchTaxon}}</button>
                    <button class="btn btn-success btn-md col-md-3" ng-click="ctrl.isCollapsedColumn = !ctrl.isCollapsedColumn" ng-init="ctrl.isCollapsedColumn=true;"  tooltip-html-unsafe="<b>Tableau des résultats.</b> <br/>Afficher uniquement les colonnes d'information du taxref dont vous avez besoin.">Affichage des colonnes</button>
                </div>
            </div>

            <!--Corps du panel général-->
            <div class="panel-body">
				          <!--Zone de recherche repliable avec la propriété "collapse"-->
                <div  ng-hide="ctrl.isCollapsedSearchTaxon" class="row form-group" id="search-taxon">
                    <h4>Recherche (TODO)</h4>
                    <form id="tx-form" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-9" tooltip-html-unsafe="<b>Entrer ici un cd_nom.</b> <br/>Si vous connaissez le cd_nom du taxon, c'est le moyen le plus rapide d'y accéder">
                                    <input type="text" id="tbcdNom" class="form-control" aria-describedby="sizing-addon2" ng-model="ctrl.cd" placeholder="Choisir un cd_nom valide" >
                                </div>
                                <button class="btn btn-success col-md-3" ng-click="ctrl.findCdNom(ctrl.cd)" tooltip="Lancer la recherche">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-10" tooltip-html-unsafe="<b>Entrer ici un nom latin.</b> <br/>Une liste des 10 premiers noms correspondants vous sera proposées en auto-complétion">
                                  <input type="text" id="fTaxon"
                                      placeholder="Choisir un nom latin"
                                      ng-model="ctrl.taxonSelected"
                                      typeahead-wait-ms="200"
                                      typeahead-min-length="3"
                                      typeahead-editable="false"
                                      uib-typeahead="tax for tax in ctrl.getTaxrefIlike($viewValue)"
                                      autocomplete="off"
                                      class="form-control">
                                </div>
                                <button class="btn btn-success col-md-2" ng-click="ctrl.findLbNomB(ctrl.taxonSelected)"  tooltip="Lancer la recherche">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <span>
                          <search-hierachie-dir on-search="ctrl.findBibTaxonsByHierarchie(data)" search-url='taxref/hierarchiebibtaxons/'/>
                        </span>
                    </form>
                </div>

                <hr/>

                <!--Zone de gestion de l'affichage des colonnes repliable avec la propriété "collapse"-->
                <div class="well" ng-hide="ctrl.isCollapsedColumn">
                  <div style="margin-bottom: 20px">
                    <label class="checkbox-inline" ng-repeat="col in ctrl.tableCols">
                      <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title}}
                    </label>
                  </div>
                </div>
                <div class="row">
                    <!--Tableau des taxons-->
                    <table ng-table="ctrl.tableParams" show-filter="true" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="tx in $data" class="{{tx.customClass}}">
                                <td data-title="'Voir'" class="{{tx.customBtnClass}}">
                                    <a class="btn btn-success" href="#/taxon/{{tx.id_taxon}}">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                                <td data-title="'Editer'" class="{{tx.customBtnClass}}">
                                    <a class="btn btn-success" href="#/taxonform/edit/{{tx.id_taxon}}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td data-title="'Suppr'" class="{{tx.customBtnClass}}">
                                    <button class="btn btn-success" ng-click="deleteTaxon(tx.id_taxon)">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </td>
                                <td data-title="'nom français'" sortable="'nom_francais'" filter="{ 'nom_francais': 'text' }" ng-if="ctrl.tableCols['nom_francais'].show">{{ tx.nom_francais }}</td>
                                <td data-title="'nom latin'" sortable="'nom_latin'" filter="{ 'nom_latin': 'text' }" ng-if="ctrl.tableCols['nom_latin'].show">{{ tx.nom_latin }}</td>
                                <td data-title="'auteur'" sortable="'auteur'" filter="{ 'auteur': 'text' }" ng-if="ctrl.tableCols['auteur'].show">{{ tx.auteur }}</td>
                                <td data-title="'cd_nom'" sortable="'cd_nom'" filter="{ 'cdNom': 'text' }" ng-if="ctrl.tableCols['cd_nom'].show">{{ tx.cd_nom }}</td>
                                <td data-title="'id_taxon'" sortable="'id_taxon'" filter="{ 'idTaxon': 'text' }" ng-if="ctrl.tableCols['id_taxon'].show">{{ tx.id_taxon }}</td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <a class="btn btn-success" href="#/taxonform">
                    <span class="glyphicon glyphicon-leaf"></span> Ajouter un taxon
                </a>
            </div>
        </div>

        <hr>
	</div>
