    <div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

    <!--Contenu global de la page-->
    <div class="container main-zone" style="padding:1px" >
       <!--Panel général de la page-->
        <div class="panel panel-default" id="taxref-zone" style="padding:10px">
            <!--Titre du panel général contenant les principaux boutons d'action-->
            <div class="panel-heading">Explorer Taxref</div>

            <!--Corps du panel général-->
            <div class="panel-body">
                <uib-accordion ng-init="status.ropen=true;">
                <uib-accordion-group is-open="status.ropen">
                  <uib-accordion-heading>
                    Recherche <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.ropen, 'glyphicon-chevron-right': !status.ropen}"></i>
                  </uib-accordion-heading>
                  <ng-form id="tx-form" class="form-horizontal" onsubmit="ctrl.findInTaxref()">
                      <div class="row panel-body">
                          <div class="col-md-12">
                            <div class="col-md-6" >
                              <div class="btn-group">
                                  <button class="btn btn-sm glyphicon glyphicon-off"
                                    ng-class="{' btn-default': ctrl.filterTaxref.isRef, 'btn-primary': !ctrl.filterTaxref.isRef}"
                                    ng-model="ctrl.filterTaxref.isRef" ng-click="ctrl.filterTaxref.isRef= !ctrl.filterTaxref.isRef"/></button>
                                  <button class="btn btn-sm glyphicon  glyphicon-ok"
                                    ng-class="{'btn-default': !ctrl.filterTaxref.isRef, 'btn-primary': ctrl.filterTaxref.isRef}"
                                    ng-model="ctrl.filterTaxref.isRef" ng-click="ctrl.filterTaxref.isRef= !ctrl.filterTaxref.isRef"/></button>
                                </div>
                                Taxons de référence uniquement
                            </div>
                            <div class="col-md-6" >
                              <div class="btn-group">
                                  <button class="btn btn-sm glyphicon glyphicon-off"
                                    ng-class="{' btn-default': ctrl.filterTaxref.isInBibtaxon, ' btn-primary': !ctrl.filterTaxref.isInBibtaxon}"
                                    ng-model="ctrl.filterTaxref.isInBibtaxon" ng-click="ctrl.filterTaxref.isInBibtaxon= !ctrl.filterTaxref.isInBibtaxon"/></button>
                                  <button class="btn btn-sm glyphicon  glyphicon-ok"
                                    ng-class="{'btn-default': !ctrl.filterTaxref.isInBibtaxon, 'btn-primary': ctrl.filterTaxref.isInBibtaxon}"
                                    ng-model="ctrl.filterTaxref.isInBibtaxon" ng-click="ctrl.filterTaxref.isInBibtaxon= !ctrl.filterTaxref.isInBibtaxon"/></button>
                                </div>Mes taxons uniquement
                            </div>
                          </div>
                      </div>
                      <div class="row panel-body">
                          <div class="col-md-4">
                              <div class="col-md-9" tooltip-html-unsafe="<b>Entrer ici un cd_nom.</b> <br/>Si vous connaissez le cd_nom du taxon, c'est le moyen le plus rapide d'y accéder">
                                  <input type="text" id="tbcdNom" class="form-control" aria-describedby="sizing-addon2" ng-model="ctrl.filterTaxref.cd" placeholder="Choisir un cd_nom valide" >
                              </div>
                          </div>
                          <div class="col-md-8">
                              <div class="col-md-10" tooltip-html-unsafe="<b>Entrer ici un nom latin.</b> <br/>Une liste des 10 premiers noms correspondants vous sera proposées en auto-complétion">
                                <input type="text" id="fTaxon"
                                    placeholder="Choisir un nom latin"
                                    ng-model="ctrl.filterTaxref.lb_nom"
                                    typeahead-wait-ms="200"
                                    typeahead-min-length="3"
                                    typeahead-editable="false"
                                    uib-typeahead="tax for tax in ctrl.getTaxrefIlike($viewValue)"
                                    autocomplete="off"
                                    class="form-control">
                              </div>
                          </div>
                      </div>
                    <div class="row ">
                      <search-hierachie-dir tax-hierarchie-selected = "ctrl.filterTaxref.hierarchy" search-url='taxref/hierarchie/' />
                    </div>
                    <div class="row ">
                      <div class="md-col-6 pull-right clearfix">
                        <button class="btn btn-success" ng-click="ctrl.refreshForm()" tooltip="Supprimer tous les critères de recherche">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="submit" class="btn btn-success" ng-click="ctrl.findInTaxref()" tooltip="Lancer la recherche">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </div>
                    </div>
                  </ng-form>
                </uib-accordion-group>
                <uib-accordion-group is-open="status.copen">
                  <uib-accordion-heading>
                    Colonnes <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.copen, 'glyphicon-chevron-right': !status.copen}"></i>
                  </uib-accordion-heading>
                  <label class="checkbox-inline" ng-repeat="col in ctrl.tableCols">
                    <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title}}
                  </label>
                </uib-accordion-group>
              </uib-accordion>


                <!--Tableau de résultat de la recherche-->
                <div class="row">
                    <div><h3>RESULTATS : INFORMATIONS DU TAXREF</h3></div>
                    <table ng-table="ctrl.tableParams" show-filter="true" class="table table-condensed table-bordered table-striped">
                        <tbody>
                            <tr
                                class="active notref"
                                ng-repeat="tax in $data"
                                ng-class="{ 'warning ref':  tax.cd_nom ==  tax.cd_ref, 'exisit-in-bibtaxon':  tax.id_taxon }">
                                <td data-title="'Taxon'">
                                    <a ng-if="!tax.id_taxon" href="#/taxonform/new/{{tax.cd_nom}}" tooltip="Ajouter ce taxon à la liste des taxons de ma structure" class="btn btn-success" >
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                    <a ng-if="tax.id_taxon" href="#/taxonform/edit/{{tax.id_taxon}}" tooltip="Modifier les informations de ce taxon" class="btn btn-success" >
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td data-title="'Taxref'">
                                    <button ng-click="ctrl.openTaxrefDetail(tax.cd_nom)" tooltip="Voir toutes les informations disponibles sur ce taxons" class="btn btn-success" >
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </td>

                                <td data-title="'cd_nom'" sortable="'cd_com'" ng-if="ctrl.tableCols['cd_nom'].show">{{ tax.cd_nom }}</td>
                                <td data-title="'cd_ref'" sortable="'cd_ref'" ng-if="ctrl.tableCols['cd_ref'].show">{{  tax.cd_ref }}</td>
                                <td data-title="'Nom complet'" sortable="'nom_complet'" filter="{ 'nom_complet': 'text' }"  ng-if="ctrl.tableCols['nom_complet'].show">{{ tax.nom_complet }}</td>
                                <td data-title="'Nom vernaculaire'" sortable="'nom_vern'" filter="{ 'nom_vern': 'text' }"  ng-if="ctrl.tableCols['nom_vern'].show">{{ tax.nom_vern }}</td>
                                <td data-title="'Règne'" sortable="'regne'" filter="{ 'regne': 'text' }"  ng-if="ctrl.tableCols['regne'].show">{{ tax.regne }}</td>
                                <td data-title="'Phylum'" sortable="'phylum'" filter="{ 'phylum': 'text' }"  ng-if="ctrl.tableCols['phylum'].show">{{ tax.phylum }}</td>
                                <td data-title="'Classe'" sortable="'classe'" filter="{ 'classe': 'text' }"  ng-if="ctrl.tableCols['classe'].show">{{ tax.classe }}</td>
                                <td data-title="'Ordre'" sortable="'ordre'" filter="{ 'ordre': 'text' }"  ng-if="ctrl.tableCols['ordre'].show">{{ tax.ordre }}</td>
                                <td data-title="'Famille'" sortable="'famille'" filter="{ 'famille': 'text' }"  ng-if="ctrl.tableCols['famille'].show">{{ tax.famille }}</td>
                                <td data-title="'group1_inpn'" sortable="'group1_inpn'" filter="{ 'group1_inpn': 'text' }"  ng-if="ctrl.tableCols['group1_inpn'].show">{{ tax.group1_inpn }}</td>
                                <td data-title="'group2_inpn'" sortable="'group2_inpn'" filter="{ 'group2_inpn': 'text' }"  ng-if="ctrl.tableCols['group2_inpn'].show">{{ tax.group2_inpn }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
