UPDATE taxonomie.taxref_protection_articles SET concerne_mon_territoire =NULL;


UPDATE  taxonomie.taxref_protection_articles SET concerne_mon_territoire = true
WHERE cd_protection IN (
	SELECT cd_protection
	FROM  taxonomie.taxref_protection_articles
	WHERE (
	intitule ilike '%r_gion%Midi-Pyrénées%'
	OR 
	intitule ilike '%r_gion%Rhône-Alpes%'
	OR 
	intitule ilike '%r_gion%Languedoc-Roussillon%'
	)
);

UPDATE  taxonomie.taxref_protection_articles SET concerne_mon_territoire = False
WHERE cd_protection IN (
	SELECT cd_protection
	FROM  taxonomie.taxref_protection_articles
	WHERE intitule ilike '%r_gion%'
	  AND NOT (
		intitule ilike '%r_gion%Midi-Pyrénées%'
		OR 
		intitule ilike '%r_gion%Rhône-Alpes%'
		OR 
		intitule ilike '%r_gion%Languedoc-Roussillon%'
		)
);

UPDATE  taxonomie.taxref_protection_articles SET concerne_mon_territoire = False
WHERE cd_protection IN (
	SELECT cd_protection
	FROM  taxonomie.taxref_protection_articles
	WHERE  intitule ilike '%Mayotte%'
		OR  intitule ilike '%Nouvelle-Calédonie%'
		OR  intitule ilike '%Polynésie%'
		OR  intitule ilike '%Réunion%'
		OR  intitule ilike '%Saint-Pierre et Miquelon%'
		OR  intitule ilike '%Saint-Barthélemy%'
		OR  intitule ilike '%Guadeloupe%'
		OR  intitule ilike '%Martinique%'
		OR  intitule ilike '%Guyane%'
		OR  intitule ilike '%Corse%'
		OR  intitule ilike '%Terres australes%'
);

UPDATE  taxonomie.taxref_protection_articles SET concerne_mon_territoire = true
WHERE cd_protection IN (
	SELECT cd_protection
	FROM  taxonomie.taxref_protection_articles
	WHERE  (
		intitule ilike '%département%Lozère%'
		OR 
		intitule ilike '%département%Gard%'
		OR 
		intitule ilike '%département%Ardèche%'
		OR 
		intitule ilike '%département%Aveyron%'
	)
);


UPDATE  taxonomie.taxref_protection_articles SET concerne_mon_territoire = False
WHERE cd_protection IN (
	SELECT cd_protection
	FROM  taxonomie.taxref_protection_articles
	WHERE intitule ilike '%département%' AND  NOT (
		intitule ilike '%département%Lozère%'
		OR 
		intitule ilike '%département%Gard%'
		OR 
		intitule ilike '%département%Ardèche%'
		OR 
		intitule ilike '%département%Aveyron%'
	)
);


UPDATE  taxonomie.taxref_protection_articles SET concerne_mon_territoire = True
WHERE cd_protection IN (
	SELECT cd_protection
	FROM  taxonomie.taxref_protection_articles
	WHERE concerne_mon_territoire IS NULL AND type_protection = 'Protection' 
);


INSERT INTO taxonomie.taxref_protection_articles_structure (cd_protection, alias_statut, concerne_structure)
SELECT cd_protection, cd_protection, true
FROM taxonomie.taxref_protection_articles a
LEFT OUTER JOIN taxonomie.taxref_protection_articles_structure s
USING(cd_protection)
WHERE concerne_mon_territoire AND type_protection = 'Protection' 
 AND s.cd_protection IS NULL; 

DELETE FROM taxonomie.taxref_protection_articles_structure s
WHERE concerne_structure = false;

DELETE FROM taxonomie.taxref_protection_articles_structure s
WHERE alias_statut ='PR_bzh' OR alias_statut ='REUP';

