<div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

<div class="container main-zone" style="padding:1px" >
    <!--Panel général de la page-->
    <div class="panel panel-default" id="listes-zone" style="padding:10px">
        <!--Titre du panel général contenant les principaux boutons d'action-->
        <div class="panel-heading">
            <h3><img ng-src="./static/{{ctrl.edit_detailliste.picto}}" class="img-circle" width="25" height="25"> Edition de la liste {{ctrl.edit_detailliste.nom_liste}}</h3>
        </div> <!--END Titre du panel général-->

        <!--Corps du panel général-->
        <div class="panel-body">

            <div class="modal-body" ng-if="ctrl.showSpinner" >
                    <div style="margin: 0px auto; width: 256px;">
                        <img src="static/images/spinner.gif" id="il_fi" alt="Chargement..." height="256" width="256">
                    </div>
            </div>

            <form id="biblises-edit-form" class="form-horizontal" name="ctrl.form" ng-hide="ctrl.showSpinner">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="sm">id liste</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="number" id="sm" ng-model="ctrl.edit_detailliste.id_liste"
                        ng-disabled="true" placeholder="Id liste">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="sm">code liste</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" min="1" id="sm" ng-model="ctrl.edit_detailliste.code_liste"
                            placeholder="Code liste" required>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="sm">Nom  de la liste</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="sm" ng-model="ctrl.edit_detailliste.nom_liste" ng-disabled="!ctrl.userRights.high" placeholder="Nom liste" required ng-disabled="true">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="sm">Description de la liste</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="3" id="sm" ng-model="ctrl.edit_detailliste.desc_liste" ng-disabled="!ctrl.userRights.high" placeholder="Description" ng-disabled="true"></textarea>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="sm">Règne</label>
                    <div class="col-sm-7">
                      <select name="sregne" id="select-regne" class="form-control"
                         ng-disabled="!ctrl.userRights.high"
                         ng-options="key as key for (key, option) in ctrl.taxref_regne_group"
                         ng-model="ctrl.edit_detailliste.regne">
                       </select>
                    </div>
                    <div class="col-xs-0">
                        <span class="glyphicon glyphicon-question-sign btn-icon" title="Permet de proposer cette liste pour les taxons d'un règne seulement" data-toggle="tooltip">
                    </div>

                </div>
                <div class="row">
                    <div class ="col-md-1 col-md-offset-4"
                    ng-if="ctrl.showSpinnerGroup2" >
                            <div >
                                <img src="static/images/spinner.gif" id="il_fi" height="80" width="80">
                            </div>
                    </div>
                </div>
                <div class="form-group form-group-sm" ng-hide="ctrl.hideGroup2" >
                    <label class="col-sm-2 control-label" for="sm">Groupe 2 INPN</label>
                    <div class="col-sm-7">
                      <select name="sgroup2" id="select-group2" class="form-control"
                        ng-disabled="!ctrl.userRights.high"
                        ng-options="option for option in ctrl.taxref_regne_group[ctrl.edit_detailliste.regne]"
                        ng-model="ctrl.edit_detailliste.group2_inpn">
                      </select>
                    </div>
                    <div class="col-xs-0">
                        <span class="glyphicon glyphicon-question-sign btn-icon" data-toggle="tooltip" data-placement="right" title="Permet de proposer cette liste seulement pour les taxons d'un group2 INPN">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="sm">Lien picto</label>
                    <div class="col-sm-7">
                         <select class="form-control" ng-model="ctrl.edit_detailliste.picto" ng-disabled="!ctrl.userRights.high">
                                  <option ng-repeat="option in ctrl.pictos_propose" value="images/pictos/{{option}}">{{option}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-offset-4 col-sm-7">
                    <input class="btn btn-warning" type="submit"
                      value="Annuler"
                      ng-hide="ctrl.hideSave || !ctrl.userRights.high" ng-click="ctrl.comebackListes()"/>
                    <input class="btn btn-primary" type="submit"
                      value="Enregistrer" ng-disabled="ctrl.form.$invalid || !ctrl.userRights.high"
                      ng-hide="ctrl.hideSave || !ctrl.userRights.high" ng-click="ctrl.submit()"/>
                </div>
            </form>
        </div><!--END Corps du panel général-->

    </div>
</div>
