<div ng-include src="'static/app/components/header-template.html'"  onload=""  autoscroll=""></div>

<div class="container main-zone" style="padding:1px" >
    <!--Panel général de la page-->
    <div class="panel panel-default" id="listes-zone" style="padding:10px">
        <!--Titre du panel général contenant les principaux boutons d'action-->
        <div class="panel-heading">

               <h3> <img ng-src="./static/{{ctrl.infoListe.picto}}" class="img-circle" ng-if="ctrl.infoListe.picto">
                Noms de la liste {{ctrl.infoListe.nom_liste}} ({{ctrl.nbNoms}} noms)
                </h3>

                <div class="modal-body" ng-if="ctrl.showSpinner" >
                        <div style="margin: 0px auto; width: 256px;">
                            <img src="static/images/spinner.gif" id="il_fi" alt="Chargement..." height="256" width="256">
                        </div>
                </div>
                <div class="alert alert-info" role="alert" ng-hide="ctrl.showSpinner">
                    <a
                        class="btn btn-primary btn-sm pull-right"
                        style="margin-left: 10px"
                        ng-attr-href="api/biblistes/exportcsv/{{ctrl.infoListe.id_liste}}"
                        title="Exporter les noms de la liste {{ctrl.infoListe.nom_liste}} au format csv"
                        data-toggle="tooltip">
                         Exporter
                    </a>

                    <a  ng-if="ctrl.userRights.high"
                        class="btn btn-primary btn-sm pull-right"
                        style="margin-left: 10px"
                        ng-attr-href="#!/listes/edit/edit/{{ctrl.infoListe.id_liste}}"
                        title="Editer la liste {{ctrl.infoListe.nom_liste}}"
                        data-toggle="tooltip">
                         Editer
                    </a>

                    <button ng-if="!ctrl.userRights.high"
                            class="btn btn-primary btn-sm pull-right"
                            style="margin-left: 10px"
                            ng-disabled="!ctrl.userRights.high">
                             Editer
                    </button>

                    <!--bouton Peupler-->
                    <a  ng-if="ctrl.userRights.high"
                        class="btn btn-primary btn-sm pull-right"
                        ng-attr-href="#!/listes/add/{{ctrl.infoListe.id_liste}}"
                        title="Peupler la liste {{ctrl.infoListe.nom_liste}}"
                        data-toggle="tooltip">
                         Peupler
                    </a>

                    <button ng-if="!ctrl.userRights.high"
                            class="btn btn-primary btn-sm pull-right"
                            ng-disabled="!ctrl.userRights.high">
                             Peupler
                    </button>

                    <p><b>Code:</b> {{ctrl.infoListe.code_liste}}</p>
                    <p><b>Regne:</b> {{ctrl.infoListe.regne}}</p>
                    <p><b>Group2_inpn:</b> {{ctrl.infoListe.group2_inpn}}</p>
                    <p><b>Description:</b> {{ctrl.infoListe.desc_liste}}</p>
                </div>

        </div>
        <!--Corps du panel général-->
        <div class="panel-body">
            <!--Tableau des taxons-->

            <div class="modal-body" ng-if="ctrl.showSpinnerListe" >
                    <div style="margin: 0px auto; width: 256px;">
                        <img src="static/images/spinner.gif" id="il_fi" alt="Chargement..." height="256" width="256">
                    </div>
            </div>
            <table ng-table="ctrl.tableParams" ng-hide="ctrl.showSpinnerListe" show-filter="true" class="table table-condensed table-bordered table-striped">
                <tbody>
                    <tr ng-repeat="lst in $data" class="{{lst.customClass}}" >

                        <div> <!-- Button -->
                                <td data-title="'Voir'" class="{{lst.customBtnClass}}">
                                    <a class="btn btn-success" href="#!/taxon/{{lst.id_nom}}"
                                    title="Détail de {{ lst.nom_francais }}"
                                    data-toggle="tooltip">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                                <td data-title="'Editer'" class="{{lst.customBtnClass}}">
                                    <a  ng-if="ctrl.userRights.high" class="btn btn-success"
                                        ng-attr-href="#!/taxonform/edit/{{lst.id_nom}}"
                                        title="Editer {{ lst.nom_francais }}"
                                        data-toggle="tooltip">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>

                                    <button ng-if="!ctrl.userRights.high"
                                      class="btn btn-success"
                                      ng-disabled="!ctrl.userRights.high">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                        <div> <!-- END Button -->

                        <td data-title="'Nom français'" sortable="'nom_francais'" filter="{ 'nom_francais': 'text' }">{{ lst.nom_francais }}
                        </td>
                        <td data-title="'Nom Latin'" sortable="'nom_complet'" filter="{ 'nom_complet': 'text' }">{{lst.nom_complet}}
                        </td>
                        <td data-title="'group2_inpn'" sortable="'group2_inpn'" filter="{ 'group2_inpn': 'text' }">{{ lst.group2_inpn }}
                        </td>
                        <td data-title="'cd_nom'" sortable="'cd_nom'" >{{ lst.cd_nom }}
                        </td>
                        <td data-title="'id_nom'" sortable="'id_nom'" >{{ lst.id_nom }}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
